*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 新細明體, serif;
    margin: 20px, auto;
    padding:40px;
    text-align: left;
}

#paragraph{
    float:left;
    width:50%;
    margin: 20px,auto;
    padding:20px;
    line-height: 35px;
}

aside{
    float:left;
    width:50%;
    margin-left: 50%;
    margin:20px auto;
}

section{
    float:left;
    width:45%;
    margin:10px;
    height:470px;

}

aside section a img:hover{
    opacity: 0.5;
}


article>p {
    font-size: 16px;
    padding:10px 0;
    line-height: 25px;
    width: 500px;
}

aside section p strong{
    font-size: 2.5em;
    color: #5487a3;
}

a{
    color: #aac47d;
}

a:visited{
    color: #3737f5;
}

a:hover{
    color: #f57e37;
}

#note{
    float:left;
    width:100%;
    
}


.fa-arrow-circle-o-up{
  float: right;
  
}


footer address{
    float:left;
    width:30%;

}

footer #left{
    margin-left: 50%;
    width:50%;
    line-height: 1.5em;
}

#school{
    float:left;
}


.fa-facebook-square{
    margin-left: 5px;
}