*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,#b8f1ed,#f1b8e4);
    font-family: Microsoft JhengHei;
}

.main{
    position:absolute;
    top:21%;
    left: 37%;
    width:300px;
    vertical-align: middle;
}

#name, #phone, #email, #birthday,  #college{
    background-color: #eaf4fc;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: white;
    margin: 3px;
    padding: 10px;
}

#name:valid, #college:valid, #phone:valid, #email:valid, #birthday:valid{
    background-color: #89c3eb;
    opacity: 0.5;
}

#submit{
    background-color: #59b9c6;
    border: white;
    width: 100%;
    margin: 3px;
    padding: 10px;
}
